<mat-card class="salary-form-card">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar-img">
      <mat-icon>attach_money</mat-icon>
    </div>
    <mat-card-title>Creating a new salary</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="salaryForm" (submit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="issueDate" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Salary amount</mat-label>
        <input matInput currencyMask formControlName="amount" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select formControlName="currency" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions align="start">
        <button mat-button class="create-btn">CREATE</button>
      </mat-card-actions>
    </form>
    <div *ngIf="result$ | async as result">
      {{ result.amount }}{{ result.currency }}
      {{result.processingDate}}
    </div>
  </mat-card-content>
</mat-card>
