<!--<div class="box">-->
<!--    <form [formGroup]="loginForm" (submit)="submitLogin()">-->
<!--      <mat-form-field class="example-full-width">-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input type="email" matInput [formControl]="loginForm.emailInput" [errorStateMatcher]="matcher"-->
<!--               placeholder="Ex. pat@example.com">-->
<!--        <mat-hint>Errors appear instantly!</mat-hint>-->
<!--        <mat-error *ngIf="loginForm.controls['emailInput'].hasError('') && !emailFormControl.hasError('required')">-->
<!--          Please enter a valid email address-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="loginForm.hasError('required')">-->
<!--          Email is <strong>required</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->

<!--      <button mat-fab extended color="primary" aria-label="Example icon button with a delete icon">-->
<!--        <mat-icon>login</mat-icon>login-->
<!--      </button>-->
<!--    </form>-->
